@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Pueden visitar mi Github para mas proyectos <a href="https://github.com/dfarizala">aqui</a>.</p>
</div>
